@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular.eot");
  src: url("../fonts/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold.eot");
  src: url("../fonts/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBold.woff") format("woff"), url("../fonts/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/ArialItalic.eot");
  src: url("../fonts/ArialItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialItalic.woff") format("woff"), url("../fonts/ArialItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/ArialBlack.eot");
  src: url("../fonts/ArialBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBlack.woff") format("woff"), url("../fonts/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GOTHICB";
  src: url("../fonts/GOTHICB.TTF") format("truetype");
  font-style: normal;
  font-weight: normal; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'ArialRegular', sans-serif;
  color: #333; }

a {
  font-size: 13px;
  border-bottom: 1px solid #105a8f;
  color: #105a8f; }

a:hover {
  text-decoration: none;
  color: #105a8f; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

hr {
  width: 100%;
  border-width: 1px;
  border-color: #e6e6e6;
  margin: 0; }

hr.light {
  border-color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ArialBlack', sans-serif;
  font-style: italic; }

p {
  font-size: 13px;
  line-height: 1.3;
  margin-bottom: 5px; }

section {
  padding-top: 30px; }

.bold {
  font-family: 'ArialBold', sans-serif; }

.button-price, .button-link {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  background: white;
  background: -webkit-linear-gradient(white 0%, #edeeee 70%, white 100%);
  background: -moz-linear-gradient(white 0%, #edeeee 70%, white 100%);
  background: -o-linear-gradient(white 0%, #edeeee 70%, white 100%);
  background: linear-gradient(white 0%, #edeeee 70%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  border-top-left-radius: 7px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 2px; }
  .button-price .wrap, .button-link .wrap {
    transform: skew(15deg);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    border-top-left-radius: 7px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 2px;
    padding: 5px 10px;
    margin: 0;
    display: flex;
    align-items: baseline; }

.button-link span {
  border-bottom: 1px solid #105a8f;
  box-shadow: inset 0px -1px 0px 0px #99aec3; }

.button-price .wrap {
  font-family: 'ArialBlack', sans-serif;
  font-style: italic;
  padding: 0px 5px; }
  .button-price .wrap .currency {
    font-size: 13px;
    font-family: 'ArialBold', sans-serif; }

.button-link .wrap {
  font-family: 'ArialBold', sans-serif; }

.pages {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  padding: 0;
  padding-top: 5px; }
  .pages li {
    margin-right: 10px; }

i.search {
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: -45px -66px;
  width: 20px;
  height: 18px; }

i.question {
  position: relative;
  display: inline-block;
  top: 2px;
  background-image: url(../img/sprite.png);
  background-position: -19px -65px;
  width: 20px;
  height: 15px; }

i.enter-icon {
  position: relative;
  display: inline-block;
  top: 2px;
  background-image: url(../img/sprite.png);
  background-position: -140px -18px;
  width: 20px;
  height: 20px; }

i.cart-icon {
  position: relative;
  display: inline-block;
  margin: 0;
  background-image: url(../img/sprite.png);
  background-position: -95px 0px;
  width: 39px;
  height: 39px;
  z-index: 0; }
  i.cart-icon:after {
    content: '3';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -3px;
    left: 12px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #d10000;
    background: white;
    background: -moz-linear-gradient(top, white 0%, white 54%, #e1e1e1 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(54%, white), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(top, white 0%, white 54%, #e1e1e1 100%);
    background: -o-linear-gradient(top, white 0%, white 54%, #e1e1e1 100%);
    background: -ms-linear-gradient(top, white 0%, white 54%, #e1e1e1 100%);
    background: linear-gradient(to bottom, white 0%, white 54%, #e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0 );
    border: 1px solid #cecdcd;
    border-radius: 20px;
    z-index: 1; }

i.cart-small {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 10px;
  background-image: url(../img/sprite.png);
  background-position: -68px -62px;
  width: 18px;
  height: 19px;
  z-index: 0; }

i.next {
  position: relative;
  display: inline-block;
  background-image: url(../img/arrow-next.png);
  background-position: 0;
  width: 19px;
  height: 10px;
  margin-left: 5px; }

i.fb {
  position: relative;
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: 133px -50px;
  width: 30px;
  height: 30px;
  margin-right: 5px; }

i.vk {
  position: relative;
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: 95px -50px;
  width: 30px;
  height: 30px;
  margin-right: 5px; }

i.twitter {
  position: relative;
  display: inline-block;
  background-image: url(../img/sprite.png);
  background-position: 55px -50px;
  width: 30px;
  height: 30px;
  margin-right: 5px; }

.shop-header {
  padding-top: 10px;
  padding-bottom: 15px;
  position: relative; }
  .shop-header:before {
    content: '';
    position: absolute;
    top: 70px;
    width: 100%;
    height: 100px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #e9e9e9 50%, white 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(50%, #e9e9e9), color-stop(100%, white));
    background: -webkit-linear-gradient(top, white 0%, #e9e9e9 50%, white 100%);
    background: -o-linear-gradient(top, white 0%, #e9e9e9 50%, white 100%);
    background: -ms-linear-gradient(top, white 0%, #e9e9e9 50%, white 100%);
    background: linear-gradient(to bottom, white 0%, #e9e9e9 50%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); }
  .shop-header .contact .phone {
    font-style: italic; }
    .shop-header .contact .phone .city-code {
      font-size: 22.77px; }
    .shop-header .contact .phone .main-number {
      font-size: 34.15px;
      font-family: 'ArialBold', sans-serif; }
  .shop-header .contact .link-call-back {
    padding-left: 10px; }
    .shop-header .contact .link-call-back a {
      border-bottom: 0;
      background-image: linear-gradient(to right, #105a8f 50%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 4px 1px;
      background-repeat: repeat-x; }
  .shop-header .input .input-group {
    position: relative;
    height: 25px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: inset 2px 2px 0px 0px #ebebeb;
    transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    border-top-left-radius: 7px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 2px;
    width: 100%; }
  .shop-header .input input {
    height: 24px;
    border: 0;
    background: transparent;
    transform: skew(15deg);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    border-top-left-radius: 7px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 2px; }
    .shop-header .input input:focus {
      box-shadow: none;
      outline: 0; }
    .shop-header .input input::-webkit-input-placeholder {
      color: #999;
      font-size: 15px;
      font-family: 'ArialItalic', sans-serif; }
    .shop-header .input input::-moz-placeholder {
      color: #999;
      font-size: 15px;
      font-family: 'ArialItalic', sans-serif; }
    .shop-header .input input:-ms-input-placeholder {
      color: #999;
      font-size: 15px;
      font-family: 'ArialItalic', sans-serif; }
    .shop-header .input input:-moz-placeholder {
      color: #999;
      font-size: 15px;
      font-family: 'ArialItalic', sans-serif; }
  .shop-header .input .btn-search {
    height: 21px;
    cursor: pointer;
    background: white;
    background: -webkit-linear-gradient(white 0%, #edeeee 70%, white 100%);
    background: -moz-linear-gradient(white 0%, #edeeee 70%, white 100%);
    background: -o-linear-gradient(white 0%, #edeeee 70%, white 100%);
    background: linear-gradient(white 0%, #edeeee 70%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    margin: 1px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e4e4e4;
    border-top-left-radius: 7px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 2px; }
    .shop-header .input .btn-search:active {
      outline: none; }
  .shop-header .helping {
    text-align: center;
    display: flex;
    align-items: flex-end;
    position: relative;
    border: 1px solid #6cbe68;
    border-radius: 5px;
    width: 85px;
    height: 85px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, white 54%, #e1e1e1 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(54%, white), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(top, white 0%, white 54%, #e1e1e1 100%);
    background: -o-linear-gradient(top, white 0%, white 54%, #e1e1e1 100%);
    background: -ms-linear-gradient(top, white 0%, white 54%, #e1e1e1 100%);
    background: linear-gradient(to bottom, white 0%, white 54%, #e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0 ); }
    .shop-header .helping a {
      color: #333;
      border-bottom: 0;
      font-family: 'ArialBold', sans-serif; }
      .shop-header .helping a p {
        line-height: 1.2;
        margin-bottom: 5px;
        font-size: 13px; }
      .shop-header .helping a .operator {
        background-image: url("../img/sprite.png");
        background-position: 1px 0px;
        position: absolute;
        top: -10px;
        right: 0;
        width: 85px;
        height: 60px; }
      .shop-header .helping a .circle {
        background-image: url("../img/sprite.png");
        background-position: -4px 58px;
        position: absolute;
        top: 3px;
        right: 2px;
        width: 10px;
        height: 10px; }
  .shop-header .sign-in {
    text-align: right; }
    .shop-header .sign-in a {
      border-bottom: 0; }
      .shop-header .sign-in a span {
        background-image: linear-gradient(to right, #105a8f 50%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 4px 1px;
        background-repeat: repeat-x; }
  .shop-header .cart {
    display: flex;
    position: relative;
    float: right;
    width: 205px;
    margin-top: 15px;
    font-family: 'ArialBlack', sans-serif;
    font-style: italic;
    font-size: 23px;
    background: transparent;
    padding: 7.5px 35px 7.5px 15px;
    border: 1px solid #cecdcd;
    border-radius: 7px; }
    .shop-header .cart:after {
      content: url("../img/arrow-down.png");
      position: absolute;
      right: 10px;
      width: 13px;
      height: 13px; }

.nav-bar .primary-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 17;
  font-weight: normal;
  border: 1px solid #15496c;
  border-radius: 7px;
  background: #1569a1;
  background: -moz-linear-gradient(top, #1569a1 0%, #044a78 76%, #13699e 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #1569a1), color-stop(76%, #044a78), color-stop(100%, #13699e));
  background: -webkit-linear-gradient(top, #1569a1 0%, #044a78 76%, #13699e 100%);
  background: -o-linear-gradient(top, #1569a1 0%, #044a78 76%, #13699e 100%);
  background: -ms-linear-gradient(top, #1569a1 0%, #044a78 76%, #13699e 100%);
  background: linear-gradient(to bottom, #1569a1 0%, #044a78 76%, #13699e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1569a1', endColorstr='#13699e', GradientType=0 );
  box-shadow: inset 0px 2px 0px 0px #5e9bc2, inset 0px -2px 0px 0px #5e9bc2; }
  .nav-bar .primary-nav .subnav {
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 10px 50px 10px 25px; }
    .nav-bar .primary-nav .subnav:not(:last-child) {
      border-right: 1px solid #15496c; }
    .nav-bar .primary-nav .subnav:not(:first-child) {
      border-left: 1px solid #2e668d; }
    .nav-bar .primary-nav .subnav:after {
      content: url(../img/arrow-down.png);
      position: absolute;
      right: 10px;
      top: 26px;
      width: 13px;
      height: 13px; }
    .nav-bar .primary-nav .subnav a {
      position: relative;
      font-family: 'ArialBold', sans-serif;
      font-size: 15px;
      color: #fff;
      border-bottom: 1px solid transparent; }
    .nav-bar .primary-nav .subnav .categories {
      display: none;
      position: absolute;
      top: 102%;
      background: #ffffff;
      width: 450%;
      text-align: left;
      opacity: 0;
      transition: .2s;
      z-index: -1; }
    .nav-bar .primary-nav .subnav:hover {
      background: white;
      background: -webkit-linear-gradient(white 0%, #edeeee 70%, white 100%);
      background: -moz-linear-gradient(white 0%, #edeeee 70%, white 100%);
      background: -o-linear-gradient(white 0%, #edeeee 70%, white 100%);
      background: linear-gradient(white 0%, #edeeee 70%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
      box-shadow: 0 7px 0 0 #ffffff, 0 0 0 5px #71a2c2;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-right: 1px transparent;
      border-left: 1px transparent; }
      .nav-bar .primary-nav .subnav:hover a {
        color: #105a8f;
        position: relative;
        border-bottom: 1px solid #105a8f; }
      .nav-bar .primary-nav .subnav:hover .categories {
        display: block;
        opacity: 1;
        transition: opacity .2s;
        overflow: hidden;
        border: 5px solid #689cbe;
        border-radius: 10px;
        box-shadow: 2px 6px 14px -3px #000; }
        .nav-bar .primary-nav .subnav:hover .categories .option-columns {
          padding: 20px 80px 40px 65px; }
          .nav-bar .primary-nav .subnav:hover .categories .option-columns .header a {
            font-family: 'ArialBold', sans-serif;
            font-size: 15px;
            color: #333;
            border-bottom: 1px solid #000; }
            .nav-bar .primary-nav .subnav:hover .categories .option-columns .header a:hover {
              color: #000; }
          .nav-bar .primary-nav .subnav:hover .categories .option-columns a {
            font-family: 'ArialRegular', sans-serif;
            font-size: 13px;
            color: #105a8f; }
            .nav-bar .primary-nav .subnav:hover .categories .option-columns a:hover {
              color: #d10000; }
  .nav-bar .primary-nav .subnav:hover + .subnav {
    border-left: 1px transparent; }
  .nav-bar .primary-nav .subnav:hover:nth-child(1) .categories {
    left: -7%; }
  .nav-bar .primary-nav .subnav:hover:nth-child(2) .categories {
    left: -101%; }
  .nav-bar .primary-nav .subnav:hover:nth-child(3) .categories {
    left: -101%; }
  .nav-bar .primary-nav .subnav:hover:nth-child(4) .categories {
    right: -101%; }
  .nav-bar .primary-nav .subnav:hover:nth-child(5) .categories {
    right: -101%; }
  .nav-bar .primary-nav .subnav:hover:nth-child(6) .categories {
    right: -7%; }

.shares #shares-carousel {
  height: 258px;
  border: 7px solid #689cbe;
  border-radius: 7px; }
  .shares #shares-carousel .carousel-indicators {
    position: absolute;
    left: 0;
    right: auto;
    bottom: -26px;
    z-index: 15;
    padding-left: 0;
    margin: 0;
    list-style: none; }
    .shares #shares-carousel .carousel-indicators div {
      width: 20px;
      height: 26px;
      margin-right: 2px;
      text-align: center;
      background-color: #689cbe;
      border: 2px solid #689cbe;
      color: #fff;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    .shares #shares-carousel .carousel-indicators .active {
      background-color: #fff;
      color: #d10000;
      border-top: 2px solid #fff; }
  .shares #shares-carousel .carousel-caption {
    height: 100%;
    width: 65%;
    bottom: 0;
    left: 0;
    right: auto;
    padding: 5px 35px;
    text-align: left; }
    .shares #shares-carousel .carousel-caption h5 {
      font-size: 30.61px;
      color: #6640c7;
      font-family: 'CenturyGothic', sans-serif;
      font-style: normal; }
    .shares #shares-carousel .carousel-caption p {
      font-size: 17px;
      color: #333;
      font-family: 'CenturyGothic', sans-serif;
      max-width: 80%;
      margin-bottom: 10px; }
    .shares #shares-carousel .carousel-caption .btn-primary {
      font-family: 'GOTHICB', sans-serif;
      padding: 10px 25px;
      border-radius: 7px;
      font-size: 18px;
      letter-spacing: 0;
      text-transform: initial;
      border: 1px solid #585858;
      background: #1fc1d0;
      background: -moz-linear-gradient(-45deg, #1fc1d0 0%, #a510ce 38%, #a510ce 49%, #7a0d98 68%, #7a0d98 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, #1fc1d0), color-stop(38%, #a510ce), color-stop(49%, #a510ce), color-stop(68%, #7a0d98), color-stop(100%, #7a0d98));
      background: -webkit-linear-gradient(-45deg, #1fc1d0 0%, #a510ce 38%, #a510ce 49%, #7a0d98 68%, #7a0d98 100%);
      background: -o-linear-gradient(-45deg, #1fc1d0 0%, #a510ce 38%, #a510ce 49%, #7a0d98 68%, #7a0d98 100%);
      background: -ms-linear-gradient(-45deg, #1fc1d0 0%, #a510ce 38%, #a510ce 49%, #7a0d98 68%, #7a0d98 100%);
      background: linear-gradient(175deg, #1fc1d0 0%, #a510ce 38%, #a510ce 49%, #7a0d98 68%, #7a0d98 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fc1d0', endColorstr='#7a0d98', GradientType=1 ); }

.shares .shares-items {
  padding-left: 30px; }
  .shares .shares-items h3 {
    margin: 0;
    font-size: 25px;
    color: #d10000; }
  .shares .shares-items ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .shares .shares-items ul li {
      display: flex;
      margin-top: 15px; }
      .shares .shares-items ul li .image {
        min-width: 75px;
        height: 55px;
        line-height: 55px;
        padding-left: 10px;
        padding-right: 10px;
        width: 80px; }
      .shares .shares-items ul li .text {
        line-height: 18px; }
        .shares .shares-items ul li .text span {
          font-size: 13px; }

.special-ofers input {
  display: none; }

.special-ofers input + label {
  cursor: pointer;
  font-family: 'ArialBlack', sans-serif;
  font-style: italic;
  position: relative;
  top: 1px;
  padding: 15px 35px;
  font-size: 18px;
  color: #105a8f;
  margin: 0; }
  .special-ofers input + label > span {
    background-image: linear-gradient(to right, #105a8f 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x; }

.special-ofers input:checked + label {
  font-size: 20px;
  color: #d10000;
  background: white;
  background: -webkit-linear-gradient(white 0%, #edeeee 70%, white 100%);
  background: -moz-linear-gradient(white 0%, #edeeee 70%, white 100%);
  background: -o-linear-gradient(white 0%, #edeeee 70%, white 100%);
  background: linear-gradient(white 0%, #edeeee 70%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  border: 1px solid #689cbe;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 0; }
  .special-ofers input:checked + label span {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 0%); }

.special-ofers #tab1:checked ~ #content1, .special-ofers #tab2:checked ~ #content2,
.special-ofers #tab3:checked ~ #content3, .special-ofers #tab4:checked ~ #content4 {
  display: block;
  height: 330px;
  border: 1px solid #689cbe;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px; }

.special-ofers section {
  display: none;
  padding: 5px 60px 30px; }

.special-ofers .accordion-button {
  margin-right: 25px; }

.special-ofers .slider {
  padding-top: 10px; }
  .special-ofers .slider .product.present .img .present-image {
    width: 55px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #d10000;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 45px; }
    .special-ofers .slider .product.present .img .present-image img {
      display: inline-block;
      position: relative;
      top: 5px; }
    .special-ofers .slider .product.present .img .present-image:after {
      content: "";
      position: absolute;
      top: 20px;
      left: -8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 8px 5px 0;
      border-color: transparent #fff transparent transparent; }
    .special-ofers .slider .product.present .img .present-image:before {
      content: "";
      position: absolute;
      top: 19px;
      left: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 10px 6px 0;
      border-color: transparent #d10000 transparent transparent; }
  .special-ofers .slider .product.present .img:after {
    content: "";
    position: absolute;
    background-image: url(../img/label-sprite.png);
    top: 0;
    left: 0;
    background-position: 0;
    width: 67px;
    height: 40px; }
  .special-ofers .slider .product.super-price .img:after {
    content: "";
    position: absolute;
    background-image: url(../img/label-sprite.png);
    top: 0;
    left: 0;
    background-position: -70px;
    width: 67px;
    height: 40px; }
  .special-ofers .slider .product.sale .img:after {
    content: "";
    position: absolute;
    background-image: url(../img/label-sprite.png);
    top: 0;
    left: 0;
    background-position: 67px;
    width: 67px;
    height: 40px; }
  .special-ofers .slider .product .img {
    width: auto;
    height: 125px;
    margin-bottom: 5px;
    position: relative; }
  .special-ofers .slider .product .product-data .promotion-text p {
    color: #d10000; }
  .special-ofers .slider .product .product-data .old-price {
    text-decoration: line-through;
    color: #d10000;
    margin-bottom: 0px;
    margin-top: -10px; }
    .special-ofers .slider .product .product-data .old-price .price {
      font-size: 15px;
      color: #999; }
    .special-ofers .slider .product .product-data .old-price .currency {
      font-size: 13px;
      color: #999; }
  .special-ofers .slider .product .product-data .title {
    margin-bottom: 5px; }
  .special-ofers .slider .product .product-data .buy-button {
    padding: 0 5px;
    margin-bottom: 3px; }
    .special-ofers .slider .product .product-data .buy-button .price-wrap {
      font-size: 18px;
      padding: 0 5px; }
      .special-ofers .slider .product .product-data .buy-button .price-wrap .currency {
        font-size: 13px;
        padding-top: 3px; }
  .special-ofers .slider .product .product-data .usd-price {
    padding-left: 10px;
    font-size: 11px;
    color: #5c9559; }
  .special-ofers .slider .product:focus {
    outline: 0; }

.brands {
  margin-bottom: 35px; }
  .brands > div > p {
    font-size: 15px;
    font-style: italic; }
  .brands ul {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto; }
    .brands ul li div {
      width: 105px;
      height: 40px; }
    .brands ul li .brand-image1 {
      background-image: url(../img/sprite-brand.png);
      background-position: -10px 2px; }
    .brands ul li .brand-image2 {
      background-image: url(../img/sprite-brand.png);
      background-position: -128px 2px; }
    .brands ul li .brand-image3 {
      background-image: url(../img/sprite-brand.png);
      background-position: -239px -2px; }
    .brands ul li .brand-image4 {
      background-image: url(../img/sprite-brand.png);
      background-position: -343px 2px; }
    .brands ul li .brand-image5 {
      background-image: url(../img/sprite-brand.png);
      background-position: -462px 0px; }
    .brands ul li .brand-image6 {
      background-image: url(../img/sprite-brand.png);
      background-position: -586px 2px; }
    .brands ul li .brand-image7 {
      background-image: url(../img/sprite-brand.png);
      background-position: -725px 5px; }
    .brands ul li .brand-image8 {
      background-image: url(../img/sprite-brand.png);
      background-position: -864px 0px; }
    .brands ul li .brand-image9 {
      background-image: url(../img/sprite-brand.png);
      background-position: -9px 56px; }
    .brands ul li .brand-image10 {
      background-image: url(../img/sprite-brand.png);
      background-position: -128px 56px; }
    .brands ul li .brand-image11 {
      background-image: url(../img/sprite-brand.png);
      background-position: -239px 58px; }
    .brands ul li .brand-image12 {
      background-image: url(../img/sprite-brand.png);
      background-position: -342px 60px; }
    .brands ul li .brand-image13 {
      background-image: url(../img/sprite-brand.png);
      background-position: -467px 62px; }
    .brands ul li .brand-image14 {
      background-image: url(../img/sprite-brand.png);
      background-position: -586px 62px; }
    .brands ul li .brand-image15 {
      background-image: url(../img/sprite-brand.png);
      background-position: -729px 62px; }
    .brands ul li .brand-image16 {
      background-image: url(../img/sprite-brand.png);
      background-position: -865px 60px; }
    .brands ul .border-brand-top {
      position: relative;
      background: #dddcdc;
      width: 1px;
      height: 65px; }
      .brands ul .border-brand-top:after {
        content: "";
        width: 2rem;
        right: -1rem;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-box-shadow: inset 0 18px 18px 0 #fff;
        box-shadow: inset 0 18px 18px 0 #fff; }
    .brands ul .border-bottom {
      position: absolute;
      width: 100%;
      bottom: 0; }
    .brands ul .border-brand-bottom {
      position: relative;
      background: #dddcdc;
      width: 1px;
      height: 65px; }
      .brands ul .border-brand-bottom:after {
        content: "";
        width: 2rem;
        right: -1rem;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-box-shadow: inset 0 -18px 18px 0 #fff;
        box-shadow: inset 0 -18px 18px 0 #fff; }

.brands-title {
  margin-bottom: 30px; }
  .brands-title ul {
    padding: 0;
    margin-bottom: 20px;
    columns: 8;
    -moz-columns: 8;
    column-gap: 20px;
    break-before: always;
    display: block; }
    .brands-title ul li a {
      font-size: 11px; }
      .brands-title ul li a:hover {
        color: #d10000;
        border-bottom: 1px solid #d10000;
        color: #d10000; }

.article h4 {
  font-size: 20px; }

.news {
  padding-top: 20px; }
  .news .news-item {
    padding-right: 30px; }
    .news .news-item .img {
      width: auto;
      height: 120px;
      line-height: 120px;
      margin-bottom: 10px;
      vertical-align: bottom; }
    .news .news-item .title {
      line-height: 1.2;
      margin-bottom: 10px; }
      .news .news-item .title a {
        font-size: 15px;
        line-height: 1; }

.shadow {
  height: 80px;
  position: relative; }
  .shadow:after {
    content: url(../img/bottom-shadow.png);
    position: absolute;
    width: 100%;
    bottom: 0; }
  .shadow hr {
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: #175b8e; }

footer {
  padding: 20px 0 55px;
  color: #333;
  background-color: #fff; }
  footer p {
    font-size: 15px;
    margin: 0; }
  footer .pages {
    padding-top: 10px;
    padding-bottom: 30px; }
  footer .contact .adress {
    font-size: 13px; }
  footer .contact .phone {
    font-size: 24px; }
    footer .contact .phone .number {
      font-family: 'ArialBold', sans-serif; }
  footer .contact .contact-link {
    margin-bottom: 10px; }
    footer .contact .contact-link a {
      border-bottom: 0;
      background-image: linear-gradient(to right, #105a8f 50%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 4px 1px;
      background-repeat: repeat-x; }
  footer .contact .button-link span {
    font-family: 'ArialRegular', sans-serif;
    background-image: linear-gradient(to right, #105a8f 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    border-bottom: 0;
    box-shadow: none; }
  footer .schedule {
    font-size: 13px; }
    footer .schedule ul {
      margin-bottom: 20px; }
    footer .schedule .payment-icon p {
      font-size: 13px; }
    footer .schedule .payment-icon .image {
      background-image: url(../img/sprite.png);
      background-position: -2px 41px;
      width: 225px;
      height: 30px; }
  footer .social {
    position: relative; }
    footer .social a {
      display: flex;
      align-items: center;
      border-bottom: 0;
      margin-bottom: 5px; }
      footer .social a span {
        border-bottom: 1px solid #105a8f;
        color: #105a8f; }
    footer .social .border {
      position: absolute;
      top: -50px;
      right: 35px;
      background: #dddcdc;
      width: 1px;
      height: 190px;
      border: 0 !important; }
      footer .social .border:after {
        content: "";
        width: 2rem;
        right: -1rem;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-box-shadow: inset 0 25px 25px 0 #fff;
        box-shadow: inset 0 25px 25px 0 #fff; }
      footer .social .border:before {
        content: "";
        width: 2rem;
        right: -1rem;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-box-shadow: inset 0 -25px 25px 0 #fff;
        box-shadow: inset 0 -25px 25px 0 #fff; }
  footer .developer div {
    margin-top: 5px;
    font-size: 11px; }
    footer .developer div a {
      font-size: 11px; }
  footer .developer img {
    max-width: 116px;
    height: 21px; }
  footer .developer span {
    color: #999;
    font-size: 11px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px; } }

@media (min-width: 1000px) and (max-width: 1200px) {
  .container {
    max-width: 1000px;
    padding-right: 20px;
    padding-left: 20px; } }

@media (min-width: 600px) and (max-width: 800px) {
  .container {
    max-width: 600px;
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 400px) and (max-width: 600px) {
  .container {
    max-width: 400px;
    padding-right: 15px;
    padding-left: 15px; } }

.bg-primary {
  background: #105a8f;
  background: -webkit-linear-gradient(#105a8f, #0d4c78);
  background: linear-gradient(#105a8f, #0d4c78); }

.text-primary {
  color: #105a8f; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    border-color: #105a8f;
    background-color: #105a8f; }

.btn {
  border-radius: 300px;
  font-family: 'ArialBold', sans-serif; }

.btn-xl {
  font-size: 11px;
  padding: 15px 45px; }

.slick-dots {
  display: none !important; }

@media (min-width: 1000px) and (max-width: 1200px) {
  .nav-bar .primary-nav .subnav {
    padding: 10px 20px 10px 25px; }
    .nav-bar .primary-nav .subnav a {
      font-size: 13px; }
  .brands-title ul {
    column-gap: 15px; }
  .shadow:after {
    content: url("../img/bottom-shadow1000px.png");
    position: absolute;
    width: 100%;
    bottom: 0; }
  .developer {
    max-width: 116px; } }

@media (min-width: 400px) and (max-width: 999px) {
  .shop-header {
    padding-bottom: 5px; }
  .shop-header .contact {
    padding-bottom: 15px; }
  .shop-header .contact .phone .city-code,
  .shop-header .contact .phone .main-number {
    font-family: 'ArialRegular', sans-serif;
    font-size: 18px; }
  .shop-header .cart {
    font-size: 12.51px; }
  .shop-header .cart {
    width: 120px;
    margin-top: 10px;
    padding: 7.5px 25px 7.5px 15px; }
    .shop-header .cart:after {
      content: url("../img/arrow-down-small.png");
      position: absolute;
      right: 10px;
      width: 8px;
      height: 7px; }
  .nav-bar {
    display: none; }
  i.cart-icon {
    background-image: url("../img/sprite.png");
    background-position: -68px -62px;
    width: 20px;
    height: 22px; }
    i.cart-icon:after {
      font-size: 10px;
      width: 10px;
      height: 10px;
      left: 6px; }
  .nav-bar {
    display: none; }
  .mobile-nav, .navbar-collapse {
    position: relative;
    align-items: center;
    padding: 5px;
    border: 1px solid #15496c;
    border-radius: 7px;
    background: #1569a1;
    background: -moz-linear-gradient(top, #1569a1 0%, #044a78 76%, #13699e 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #1569a1), color-stop(76%, #044a78), color-stop(100%, #13699e));
    background: -webkit-linear-gradient(top, #1569a1 0%, #044a78 76%, #13699e 100%);
    background: -o-linear-gradient(top, #1569a1 0%, #044a78 76%, #13699e 100%);
    background: -ms-linear-gradient(top, #1569a1 0%, #044a78 76%, #13699e 100%);
    background: linear-gradient(to bottom, #1569a1 0%, #044a78 76%, #13699e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1569a1', endColorstr='#13699e', GradientType=0 );
    box-shadow: inset 0px 2px 0px 0px #5e9bc2, inset 0px -2px 0px 0px #5e9bc2; }
    .mobile-nav select, .navbar-collapse select {
      position: relative;
      padding: 5px 100px 5px 15px;
      border: 1px solid #dbdfe6; }
      .mobile-nav select:focus, .navbar-collapse select:focus {
        border: 1px solid #dbdfe6;
        box-shadow: none; }
  .nav-item {
    border-bottom: 1px solid #e6e6e6; }
    .nav-item .nav-link {
      position: relative;
      font-family: 'ArialRegular', sans-serif;
      font-size: 15px;
      color: #fff; }
  .navbar-toggler {
    background: #fff;
    border: 1px solid #a9a9a9;
    height: 28px;
    padding: 0 5px; }
  .navbar-toggler-icon {
    background-image: url("../img/btn.png") !important;
    width: 18px;
    height: 14px;
    vertical-align: baseline; }
  .navbar-collapse {
    position: absolute;
    width: 570px;
    z-index: 3; }
  #navbar-second {
    z-index: 3;
    top: 58px;
    left: 0; }
  section {
    padding-top: 15px; }
  #shares-carousel {
    margin-bottom: 35px; }
  .shares #shares-carousel .carousel-caption {
    width: 85%; }
  .shares .shares-items {
    padding-left: 15px; }
  input + label {
    display: none; }
  input:checked + label {
    display: block;
    width: 50%; }
  .special-ofers input + label {
    padding: 15px; }
  .special-ofers section {
    padding: 5px 40px; }
  .special-ofers .accordion-button {
    margin-right: 0; }
  .brands .bold {
    width: 50%; }
  .brands-title ul {
    columns: 4;
    -moz-columns: 4; }
  .news .news-item {
    padding-right: 30px;
    padding-bottom: 30px;
    display: flex; }
    .news .news-item .img {
      padding-right: 20px; }
  .shadow {
    height: 20px; }
    .shadow:after {
      content: url("../img/bottom-shadow-tablet.png");
      position: absolute; }
  .pages {
    display: block; }
    .pages li {
      display: inline-block; }
  footer .social {
    padding-bottom: 30px;
    margin-bottom: 30px; }
    footer .social .border {
      position: relative;
      top: 30px;
      right: 0;
      left: 15px;
      background: #dddcdc;
      width: 570px;
      height: 1px;
      border: 0 !important; }
  footer .developer {
    text-align: center; }
    footer .developer div,
    footer .developer span {
      margin-top: 0;
      margin-left: 10px;
      text-align: left; } }

@media (min-width: 400px) and (max-width: 599px) {
  .mobile-nav select {
    padding: 5px 15px 5px 15px; }
  .shares #shares-carousel .carousel-caption {
    width: 100%; }
  .shares #shares-carousel .carousel-caption p {
    display: none; }
  input:checked + label {
    width: 75%; }
  .navbar-collapse {
    width: 370px; }
  .shadow {
    display: none; }
  .article h4 {
    font-size: 16px; }
  .contact, .schedule {
    margin-bottom: 20px; }
  footer .social .border {
    width: 370px; }
    footer .social .border:before {
      content: none; }
    footer .social .border:after {
      content: none; } }
